{% block html_head_container %}
	{% include 'html-header.twig' %}
	{% block head %}
		{# Include extra stuff in the document head #}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{ body_class }}" data-template="base.twig">
			{% block header %}
				<div class="sticky-cta">
					<div class="u-wrapper">
						<span class="sticky-cta__text">Call Us Today <span class="u-hide-mobile">for Help From a Trained Professional</span>:</span>
						<a href="tel:1-785-823-7838" class="sticky-cta__link">785-823-7838</a>
					</div>
				</div>
				<header id="header" class="header"><!-- #header open -->
					<div class="nav-wrapper u-wrapper">
						<nav id="nav-main" role="navigation">
							<a id="header-logo" href="/"><img src="{{ theme.link }}/static/images/logo.png" alt="Citywide Self Storage Logo" /><span class="screen-reader-text">{{ site.name }}</span></a>
							<div class="menu-toggle-container u-hide-tablet">
								<button id="menu-toggle" class="fa fa-bars nav-toggle button"><span class="screen-reader-text">Menu</span></button>
							</div>
							<div class="nav-inner-wrap">
								{{ function('citywide_render_primary_menu') }}
							</div>
							<div class="cart-info"><a href="/checkout"><img src="{{ theme.link }}/static/images/cart.png" /> <span class="cart-info__text">Items in Cart: </span><span id="cart-count">0</span></a></div>
						</nav>
					</div>
					{% block inside_header %}
					{% endblock %}
				</header><!-- #header close -->
			{% endblock %}

			{% block below_header %}
				{% if post.thumbnail %}
					<div class="pattern-header-image" style="background-image: url({{ TimberImage(post.thumbnail).src('xlarge') }});"></div>
				{% endif %}
			{% endblock %}

			{% block above_content %}
			{% endblock %}

			<section id="content" role="main" class="content-wrapper">
				<div id="vue-wrapper">
				{% block page_header %}
				{% endblock %}
				{% block content %}
					Sorry, no content
				{% endblock %}
				{% if sidebar %}
					<aside class="layout-sidebar">
						{{sidebar}}
					</aside>
				{% endif %}
				</div> <!-- #vue-wrapper -->
			</section>

			{% block below_content %}
			{% endblock %}

			{% block above_footer %}
				
			{% endblock %}

			{% block footer %}
				<footer id="footer">
					{% block inside_footer %}
					{% endblock %}
					<div class="u-wrapper footer__inner-wrapper">
						<div class="footer__logo">
							<img class="footer__logo" src="{{ theme.link }}/static/images/logo-white.png" />
						</div>
						<div class="footer__resources-wrapper">
							<div class="footer__title">Resources</div>
							{{ function('citywide_render_footer_menu') }}
						</div>
						<div class="footer__office-hours">
							<div class="footer__title">Rental Office Hours</div>
							<div>
								<p>Monday - Friday <br> 7:30AM - 5:30PM</p>
								<p>Saturday <br> 7:30AM - 5:00PM</p>
								<p>Sunday <br> 10:00AM - 3:00PM</p>
							</div>
						</div>
						<div class="footer__locations">
							<div class="footer__title">Salina, Kansas Locations</div>
							<p>440 N. Ohio - Rental Office</p>
							<p>549 N. Ohio</p>
							<p>405 Saturn</p>
							<p>2435 Centennial</p>
						</div>
						<div class="footer__contact">
							<div class="footer__title">Contact Us</div>
							<p><a href="tel:785-823-7838">785-823-7838</a></p>
							<p><a href="tel:877-783-7838">877-783-7838</a></p>
							<p><a href="/contact">Email Us</a></p>
							<p><a href='https://www.uhaul.com/Locations/Truck-Rentals-near-Salina-KS-67401/008049/'>Uhaul Rental</a></p>
						</div>
					</div>
					<div class="agency u-wrapper centered-text">Site Created by <a href="https://weare502.com" rel="nofollow">502 - A Strategic Marketing Agency</a></div>
				</footer>
			{% endblock %}
			
			<div id="citywide-fullscreen" class="magnific mfp-hide">
				{% block fullscreen_popup %}
				{% endblock %}
			</div>

		{% include 'vue-templates.twig' %}
	
		{% block footer_scripts %}
			{# Include extra stuff in the document footer, JS etc #}
		{% endblock %}
		{{ function('wp_footer') }}
		<script src="https://use.typekit.net/rrp4key.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>
	</body>
</html>
