{% extends "base.twig" %}

{% block below_header %}
	{% if thumbnail %}
		<div class="pattern-header-image" style="background-image: url({{ TimberImage(thumbnail).src('xlarge') }});"></div>
	{% endif %}
{% endblock %}

{% block content %}
	<div class="u-wrapper u-wrapper--narrow">
		<h1>Storage Tips &amp; FAQ</h1>
		<p class="u-mb-2 blog-intro">Read our helpful articles for easy storage tricks and tips. 
		We are here to help. Feel free to call one of our trained professionals at <a href="tel:785-823-7838">785-823-7838</a>
		 with any additional questions.</p>

		<div class="blog-wrapper">
			<div class="blog-posts facetwp-template">
			{% for post in posts %}
				{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
			{% endfor %}
			{{ function('facetwp_display', 'pager', true ) }}
			{# {% include "pagination.twig" %} #}
			</div>
			{# <div class="blog-sidebar">
				<h4>Subjects &amp; Categories</h4>
				{{ function( 'facetwp_display', 'facet', 'categories') }}
			</div> #}
		</div>
	</div>
{% endblock %}