{% extends "base.twig" %}

{% block below_header %}
{% endblock %}


{% block content %}
<div class="u-wrapper">
    <h1>{{ post.title }}</h1>

    <div id="checkout" class="checkout u-mb-4" :class="{ 'checkout--complete': checkoutComplete, 'checkout--submitting' : checkout.submitting }">

        <div class="checkout__form-wrapper">
            
            <div class="u-mb-4" v-if="checkout.step === 1">
                <h3>Customer Information</h3>
                <label class="checkout__form-label"><span class="checkout__form-label-text">First Name:</span><input type="text" v-model="checkout.first_name"></label>
                <label class="checkout__form-label"><span class="checkout__form-label-text">Last Name:</span><input type="text" v-model="checkout.last_name"></label>
                <label class="checkout__form-label"><span class="checkout__form-label-text">Phone Number:</span><input type="text" v-model="checkout.phone"></label>
                <label class="checkout__form-label"><span class="checkout__form-label-text">Email Address:</span><input type="text" v-model="checkout.email"></label>
                <label class="checkout__form-label"><span class="checkout__form-label-text">Address 1:</span><input type="text" v-model="checkout.address"></label>
                <label class="checkout__form-label"><span class="checkout__form-label-text">Address 2:</span><input type="text" v-model="checkout.address2"></label>
                <label class="checkout__form-label"><span class="checkout__form-label-text">City:</span><input type="text" v-model="checkout.city"></label>
                <label class="checkout__form-label"><span class="checkout__form-label-text">State:</span><input type="text" v-model="checkout.state"></label>
                <label class="checkout__form-label"><span class="checkout__form-label-text">Zip:</span><input type="text" v-model="checkout.zip"></label>
            </div>

            <div v-if="checkout.step === 2">
                <div v-if="!checkout.cart.units.length">
                    <p>If you are only reserving a trailer or boxes, please click "NEXT", othwerise, please <a href="/reserve-online/">Choose a Unit</a>
                </div>

                <div class="u-mb-4" v-if="checkout.cart.units.length">
                    <h3>Select A Move In Date</h3>
                    <p>Before you reserve your unit, you will need to choose a date to move in.  Select a date below:</p>
                    <div class="checkout__form-label">
                        {# <label class="" for="datepicker-1"><span class="checkout__form-label-text">Move-In Date:</span></label> #}
                        <datepicker id="datepicker-1" v-model="checkout.moveIn" :disabled="disabledDates" placeholder="mm/dd/yyyy" format="MMM dd, yyyy"></datepicker>
                    </div>
                </div>

                <div class="u-mb-4" v-if="checkout.cart.units.length">
                    <h3>Stored Property Insurance</h3>
                    
                    <p>Most homeowners and renters insurance policies do not cover damage 
                    to personal property stored at a Storage facility. As a result, we proudly 
                    offer stored property insurance packages. Your coverage selection will be 
                    added to your monthly payment. 
                    <br><br><strong>Insurance is not available for RV/Boat/Trailer Units. <br>Choose "None" if you are reserving this unit type.<br><br></strong> 
                    Please choose one.</p>

                    <label class="checkout__form-label checkout__form-label--seperated"><input type="radio" :value="{plan: '$1,000 personal', price: 7.95}" v-model="checkout.insurance"><span class="checkout__form-label-text">Up to $1,000 in personal property coverage</span> $7.95 per month</label>
                    <label class="checkout__form-label checkout__form-label--seperated"><input type="radio" :value="{plan: '$5,000 personal', price: 10.95}" v-model="checkout.insurance"><span class="checkout__form-label-text">Up to $5,000 in personal property coverage</span> $10.95 per month</label>
                    <label class="checkout__form-label checkout__form-label--seperated"><input type="radio" :value="{plan: '$10,000 personal', price: 20.95}" v-model="checkout.insurance"><span class="checkout__form-label-text">Up to $10,000 in personal property coverage</span> $20.95 per month</label>
                    <label class="checkout__form-label checkout__form-label--seperated"><input type="radio" :value="{plan: '$15,000 personal', price: 39.95}" v-model="checkout.insurance"><span class="checkout__form-label-text">Up to $15,000 in personal property coverage</span> $39.95 per month</label>
                    <label class="checkout__form-label checkout__form-label--seperated">
                        <input type="radio" :value="{plan: 'None', price: 'N/A'}" v-model="checkout.insurance">
                        <span class="checkout__form-label-text">Use my renters/homeowners insurance (None)</span>
                        <div class="checkout__form-label-text--extended">I understand and agree that while this Storage facility takes precautions to provide clean, 
                        dry, and secure storage rooms, that it does not insure my goods and has no responsibility to 
                        provide insurance. Also, this storage facility is not responsible for damage or loss that may 
                        occur to my goods while in storage. I understand that this storage facility requires that I 
                        maintain insurance to cover my goods for as long as they are in storage.</div>
                    </label>
                </div>

            </div>

            <div v-if="checkout.step === 3">

                <div class="u-mb-4">
                    <h3>Improve Your Move</h3>
                    <p>Citywide Storage is your one-stop-shop for all boxes and packing supplies! 
                    We have what you need to safely and securely store all your items for transit
                    and long-term storage.</p>
                    <label v-for="item in supplies" class="checkout__form-label checkout__form-label--seperated">
                        <input type="checkbox" :value="item" v-model="checkout.cart.supplies">
                        <span class="checkout__form-label-text">{{ '{{item.post_title}}' }} 
                            <span> - <a href="#" @click.stop.prevent="showSuppliesDetails(item)">View Details</a></span>
                            <span v-if="areSuppliesInCart(item)">- In Cart 
                                <button class="checkout__remove-button checkout__remove-button--inline checkout__remove-button--ignore-events" title="Remove Supplies">X</button>
                            </span>
                        </span>
                        <span>{{ '{{formatPrice(item.price)}}' }}</span>
                    </label>
                    <label class="checkout__form-label checkout__form-label--seperated">
                        <input type="checkbox" :value="{post_title: 'No Boxes', price: 0}" v-model="checkout.cart.supplies">
                        <span class="checkout__form-label-text">{{ "I do not want to reserve any boxes." }} 
                            <span v-if="areSuppliesInCart({post_title: 'None', price: 0})">- In Cart 
                                <button class="checkout__remove-button checkout__remove-button--inline checkout__remove-button--ignore-events" title="Remove Supplies">X</button>
                            </span>
                        </span>
                    </label>
                    <modal v-if="showSuppliesDetailsModal" :show="showSuppliesDetailsModal" @close="showSuppliesDetailsModal = false">
                        <h3>{{ '{{ suppliesDetails.post_title }}' }}</h3>
                        <h5>Features</h5>
                        <ul>
                            <li v-for="feature in suppliesDetails.features" v-html="feature.name"></li>
                        </ul>
                    </modal>
                </div>

                <div class="u-mb-4">
                    <h3>Reserve a Trailer</h3>
                    <p>Citywide Storage has selection of trailers available for rent. If you also reserve a storage unit, 
                    you will qualify for a free 1 day trailer rental to help you move your stuff. Please note, you will need to 
                    provide your own vehicle to tow with.</p>
                    <label v-for="trailer in trailers" class="checkout__form-label checkout__form-label--seperated">
                        <input type="checkbox" :value="trailer" v-model="checkout.cart.trailers">
                        <span class="checkout__form-label-text">{{ '{{trailer.post_title}}' }} 
                            <span v-if="isTrailerInCart(trailer)">- In Cart 
                                <button class="checkout__remove-button checkout__remove-button--inline checkout__remove-button--ignore-events" title="Remove Trailer">X</button>
                            </span>
                        </span>
                        <span>{{ '{{formatPrice(trailer.price)}}' }} per Day</span>
                    </label>
                    <label class="checkout__form-label checkout__form-label--seperated">
                        <input type="checkbox" :value="{ post_title: 'No Trailer', price: 0 }" v-model="checkout.cart.trailers">
                        <span class="checkout__form-label-text">{{ 'I do not want to reserve a trailer.' }} 
                            <span v-if="isTrailerInCart({ post_title: 'None', price: 0 })">- In Cart 
                                <button class="checkout__remove-button checkout__remove-button--inline checkout__remove-button--ignore-events" title="Remove Trailer">X</button>
                            </span>
                        </span>
                    </label>
                </div>

                <div class="u-mb-4" v-if="!checkout.cart.units.length">
                    <h3>Select A Pickup Date</h3>
                    <p>Before you reserve your trailer, you will need to choose a pickup date. Select a date below:</p>
                    <div class="checkout__form-label">
                        <label for="datepicker-2">
                            <span class="checkout__form-label-text">Pickup Date:</span>
                        </label>
                        <datepicker id="datepicker-2" v-model="checkout.moveIn" :disabled="disabledDates" format="MMM dd, yyyy"></datepicker>
                    </div>
                    <p>If you need to rent a trailer for more than one day, please bring enough funds with you when you come to pick it up.</p>
                </div>

            </div>

            <div v-if="checkout.step === 4">
                <p>Your reservation is complete!</p>
                <div class="checkout__confirmation-notice">
                    <h4>Important Notice</h4>
                    <div>We will contact you in one business day to arrange the details of your reservation.</div>
                </div>
                <p>Please bring the following items to our rental office to complete your order:</p>
                <ul class="u-mb-3">
                    <li>Driver's License or Photo ID</li>
                    <li>Proof of Insurance and Title/Registration if you are reserving a unit for your RV</li>
                    <li>{{ '{{totalMoveInPrice}}' }} - Total cost to complete your order (Cash, Credit Card, etc)</li>
                </ul>
                

                <div class="checkout__confirmation-details">
                    <div class="checkout__confirmation-detail">
                        <h3>Rental Office Location</h3>
                        <div>440 N. Ohio Street<br>
                        Salina, Kansas<br>
                        67401<br>
                        <br>
                        <a href="tel:785-823-7838">785-823-7838</a></div>
                    </div>

                    <div class="checkout__confirmation-detail">
                        <h3>Office Hours</h3>
                        <p>Monday - Friday<br>
                        7:30 AM - 5:30 PM</p>

                        <p>Saturday<br>
                        7:30 AM - 5 PM</p>

                        <p>Sunday<br>
                        10:00 AM - 3:00 PM</p>
                    </div>
                </div>

            </div><!-- step 4 -->

            <div class="checkout__nav-buttons u-hide-after-small-tablet">
                <div class="checkout__errors" v-if="checkout.errors">
                    <div v-for="error in checkout.errors" v-html="error" class="checkout__error"></div>
                </div>
                <button class="button button--large u-mb-4" v-if="checkout.step < 4 && checkout.step > 1" :class="{'button--plain': checkout.step > 1}" @click="checkoutNavMove(-1)">Back</button>
                <button class="button button--large u-mb-4" v-if="checkout.step < 3" :class="{'button--plain': checkout.step > 1}" @click="checkoutNavMove(1)">Next</button>
                <button class="button button--large u-mb-4" v-if="checkout.step === 3" :disabled="itemsInCart ? false : true" @click="processReservation">Reserve Now</button>
       </div>

        </div>

        <div class="checkout__nav-buttons u-hide-small-tablet">
            <button class="button button--large u-mb-4" v-if="checkout.step < 4 && checkout.step > 1" :class="{'button--plain': checkout.step > 1}" @click="checkoutNavMove(-1)">Back</button>
            <button class="button button--large u-mb-4" v-if="checkout.step < 3" :class="{'button--plain': checkout.step > 1}" @click="checkoutNavMove(1)">Next</button>
            <button class="button button--large u-mb-4" v-if="checkout.step === 3" :disabled="itemsInCart ? false : true" @click="processReservation">Reserve Now</button>
        </div>

        <div class="checkout__cart">
            <h3>Your Reservation</h3>
            <div class="checkout__cart-details">
                <div class="u-bold">Your Units</div>
                <div v-for="unit in checkout.cart.units">
                    <div class="checkout__cart-item">{{'{{getUnitDimensions(unit)}}'}} - {{'{{unit.type}}'}}
                        <div>{{'{{unit.location.post_title}}'}}</div>
                        <button class="checkout__remove-button" title="Remove Unit" @click="removeUnit(unit)">X</button>
                    </div>
                </div>
                <a v-if="!checkoutComplete" href="{{ options.storage_units_link }}">Add a Unit</a>

                <hr>
                
                <div v-if="checkout.moveIn" class="checkout__cart-item">
                    <div class="u-bold" v-html="checkout.cart.units.length ? 'Move In Date' : 'Reservation Date'"></div>
                    <div class="checkout__cart-item-detail"><span>{{ '{{formatDate(checkout.moveIn)}}' }}</span></div>
                </div>

                <hr v-if="checkout.moveIn">

                <div class="u-bold">Current Reservation</div>
                <div class="checkout__line-item" v-if="checkout.cart.units.length">
                    <span>First Month Rental Rate</span>
                    <span>{{ '{{firstMonthRentalPrice}}' }}</span>
                </div>

                <div class="checkout__line-item" v-if="checkout.cart.units.length">
                    <span>Administrative Fee</span>
                    <span>{{ '{{totalDepositAmount}}' }}</span>
                </div>
                
                <div v-if="checkout.insurance" class="checkout__line-item">
                    <span>Stored Property Insurance</span>
                    <span>{{ '{{formatPrice(checkout.insurance.price)}}' }}</span>
                </div>
                
                <div v-for="supplies in checkout.cart.supplies" class="checkout__line-item">
                    <span>{{ '{{supplies.post_title}}' }} <button class="checkout__remove-button checkout__remove-button--inline" title="Remove Supplies" @click="removeSupplies(supplies)">X</button></span>
                    <span>{{ '{{formatPrice(supplies.price)}}' }}</span>
                </div>

                <div v-for="(trailer, index) in checkout.cart.trailers" class="checkout__line-item">
                    <span>{{ '{{trailer.post_title}}' }} <button class="checkout__remove-button checkout__remove-button--inline" title="Remove trailer" @click="removeTrailer(trailer)">X</button></span>
                    <span v-if="index === 0 && checkout.cart.units.length">{{ '{{formatPrice(0)}}' }}</span><span v-else>{{ '{{formatPrice(trailer.price)}}' }}</span>
                </div>

                <div class="checkout__line-item" v-if="checkout.cart.trailers.length && showTrailerDeposit">
                    <span>Refundable Trailer Deposit</span>
                    <span>{{ '{{totalTrailerDepositAmount}}' }}</span>
                </div>
                

                <hr>
                
                <div class="checkout__line-item">
                    <span>Total Reservation Cost:</span>
                    <span>{{ '{{totalMoveInPrice}}' }}</span>
                </div>

                <div class="u-mb-2">
                    <a href="#move-in-breakdown" @click.prevent="showMoveInBreakdown = true">View Breakdown</a>
                    <modal v-if="showMoveInBreakdown" :show="showMoveInBreakdown" @close="showMoveInBreakdown = false">
                        <h3>Current Order Breakdown</h3>
                        <div v-if="checkout.cart.units.length" class="u-mb-2">
                            <div class="u-bold">Units</div>
                            <div v-for="unit in checkout.cart.units" class="u-mb-1">
                                <div>{{'{{getUnitDimensions(unit)}}'}} - {{'{{unit.type}}'}} @ {{'{{unit.location.post_title}}'}}</div>
                                <div v-if="unit.special">$25.00 First Month</div>
                                <div v-if="!unit.special">{{ '{{ formatPrice(unit.price) }}' }} First Month</div>
                            </div>
                        </div>
                        <div v-if="checkout.cart.units.length" class="u-mb-2">
                            <div class="u-bold">Administrative Fee</div>
                            {{ '{{numberOfCartUnits}}' }} @ $20.00 per Unit
                        </div>
                        <div v-if="checkout.insurance" class="u-mb-2">
                            <div class="u-bold">Stored Property Insurance</div>
                            <span>{{ '{{formatPrice(checkout.insurance.price)}}' }}</span>
                        </div>
                        <div v-if="checkout.cart.supplies.length" class="u-mb-2">
                            <div class="u-bold">Moving Supplies</div>
                            <div v-for="supplies in checkout.cart.supplies">
                                <span>{{ '{{supplies.post_title}}' }}</span> @ <span>{{ '{{formatPrice(supplies.price)}}' }}</span>
                            </div>
                        </div>
                        <div v-if="checkout.cart.trailers.length" class="u-mb-2">
                            <div class="u-bold">Trailers</div>
                            <div v-for="(trailer, index) in checkout.cart.trailers">
                                <div v-if="trailer.price > 0">
                                    <span>{{ '{{trailer.post_title}}' }}</span> @ 
                                    <span :class="{ 'u-slashed': index < 1 && checkout.cart.units.length }">{{ '{{formatPrice(trailer.price)}}' }}</span> 
                                    <span v-if="index < 1 && checkout.cart.units.length">FREE w/ Unit Rental</span>
                                </div>
                            </div>
                        </div>
                        <div v-if="checkout.cart.trailers.length" class="u-mb-2">
                            <div class="u-bold">Trailer Deposit</div>
                            {# {{ '{{numberOfTrailers}}' }} @ #} $50.00 per Trailer <br> Trailer Deposits are Refundable
                        </div>
                    </modal>
                </div>

                <div v-if="checkout.cart.units.length">
                    <div class="u-bold">Total Cost for Following Months</div>
                
                    <div class="checkout__line-item">
                        <span>Rent for {{ '{{numberOfCartUnits}}' }}</span>
                        <span>{{'{{totalRecurringUnitPrice}}'}}</span>
                    </div>
                
                    <div v-if="checkout.insurance" class="checkout__line-item">
                        <span>Stored Property Insurance</span>
                        <span>{{ '{{formatPrice(checkout.insurance.price)}}' }}</span>
                    </div>
                    
                    <hr>

                    <div class="checkout__line-item">
                        <span>Total Monthly Cost:</span>
                        <span>{{ '{{totalRecurringPrice}}' }}</span>
                    </div>
                    <div>
                        <a href="#recurring-breakdown" @click.prevent="showRecurringBreakdown = true">View Breakdown</a>
                        <modal v-if="showRecurringBreakdown" :show="showRecurringBreakdown" @close="showRecurringBreakdown = false">
                            <h3>Recurring Breakdown</h3>
                            <div v-if="checkout.cart.units.length" class="u-mb-2">
                                <div class="u-bold">Units</div>
                                <div v-for="unit in checkout.cart.units" class="u-mb-1">
                                    <div>{{'{{getUnitDimensions(unit)}}'}} - {{'{{unit.type}}'}} @ {{'{{unit.location.post_title}}'}}</div>
                                    <div>{{ '{{ formatPrice(unit.price) }}' }} Per Month</div>
                                </div>
                            </div>
                            <div v-if="checkout.insurance" class="u-mb-2">
                                <div class="u-bold">Stored Property Insurance</div>
                                <span>{{ '{{formatPrice(checkout.insurance.price)}}' }}</span>
                            </div>
                        </modal>
                    </div>
                </div>

            </div>
            
        </div>

    </div>
</div>
{% endblock %}