{% extends "base.twig" %}

{% block content %}
	<article class="post-type-{{ post.post_type }} article-wrapper" id="post-{{ post.ID }}">
		<div class="post-content">
			<div class="u-wrapper u-wrapper--narrow">
                <h1>{{ post.title }}</h1>
                <div>{{ post.get_field('intro_text') }}</div>
                <div class="pages-fitting-room-info u-mb-4">
                    <img src="{{ TimberImage(post.fitting_room_image).src('large') }}" alt="{{ TimberImage(post.fitting_room_image).alt }}" />
                    <div class="pages-fitting-room-info__text">
                        <h3>Visit Our One of a Kind Fitting Room</h3>
                        {{ post.get_field('fitting_room_text') }}
                        <p><a class="button button--plain" target="_blank" href="{{ options.directions_link }}">Get Directions</a></p>
                    </div>
                </div>
            </div>

            <div class="pattern-unit-navigation">
                <div class="pattern-unit-navigation__tabs-wrapper">
                    <div class="u-wrapper u-wrapper--narrow">
                        <div class="pattern-unit-navigation__tabs">
                            <button @click="changeTab('Small')" :class="{'pattern-unit-navigation__tab--active' : (currentTab === 'Small')}" class="pattern-unit-navigation__tab">Small</button>
                            <button @click="changeTab('Medium')" :class="{'pattern-unit-navigation__tab--active' : (currentTab === 'Medium')}" class="pattern-unit-navigation__tab">Medium</button>
                            <button @click="changeTab('Large')" :class="{'pattern-unit-navigation__tab--active' : (currentTab === 'Large')}" class="pattern-unit-navigation__tab">Large</button>
                            <button @click="changeTab('Extra Large')" :class="{'pattern-unit-navigation__tab--active' : (currentTab === 'Extra Large')}" class="pattern-unit-navigation__tab">Extra Large</button>
                            <button @click="changeTab('RV')" :class="{'pattern-unit-navigation__tab--active' : (currentTab === 'RV')}" class="pattern-unit-navigation__tab">RV / Boat / Trailer</button>
                        </div>
                    </div>
                </div>
                <div class="u-wrapper u-wrapper--narrow">
                    <div class="pattern-unit-navigation__results">
                        <div v-for="collection in getUniqueSizeUnits(currentTab)" class="pattern-unit-navigation__unit">
                            <img v-if="collection.units[0].image.url" :src="collection.units[0].image.url" :alt="getCollectionDimensions(collection) + ' unit'" />
                            <div class="pattern-unit-navigation__unit-details">
                                <div class="pattern-unit-navigation__unit-dimensions">{{ '{{ collection.w }}&#39;'  }} x {{ '{{ collection.d }}&#39;' }} <span v-if="collection.h">x {{ '{{ collection.h }}&#39;' }}</span></div>
                                <div class="pattern-unit-navigation__unit-detail">Perfect for Storing<br> <span v-html="collection.units[0].uses"></div>
                                <div class="pattern-unit-navigation__unit-detail">Available Unit Types<br> <span v-html="getUniqueTypesFromCollection(collection).join(' &bull; ')"></span></div>
                                <div class="pattern-unit-navigation__unit-detail">Available Locations<br> <span v-html="getUniqueLocationsFromCollection(collection).join(' &bull; ')"></span></div>
                                <button @click="populateChooseUnitModal(collection)">Reserve This Size</button>
                            </div>
                        </div>
                    </div>
                </div>
                <modal v-if="showChooseUnitModal" :show="showChooseUnitModal" @close="clearChooseUnitModal" class="pattern-modal--wide">
                    <h3 v-if="!chooseUnitModalLocation" class="u-text-center u-mb-2" v-html="!chooseUnitModalType ? 'Please Choose a Unit Type' : 'Please Choose a Location'"></h3>
                    <div class="modal-choose-units__types" v-if="!chooseUnitModalType">
                        <div v-for="type in getUniqueTypesFromCollection(chooseUnitModalUnits)" class="modal-choose-units__type">
                            <div class="modal-choose-units__type-image u-mb-1" :data-type="type"></div>
                            <div class="u-mb-1">{{ '{{ type }}' }}</div>
                            <button @click="chooseUnitModalType = type">Select</button>
                        </div>
                    </div>
                    <div class="modal-choose-units__locations" v-if="chooseUnitModalType && !loading">
                        <div class="modal-choose-units__location" v-for="location in getUniqueLocationsFromCollectionAndType(chooseUnitModalUnits, chooseUnitModalType)">
                            <div class="modal-choose-units__location-title">{{ '{{ location.post_title }}' }}</div>
                            <button @click="chooseUnitModalLocation = location">Select Location</button>
                        </div>
                    </div>
                    <div v-if="loading">Loading...<br>Please wait</div>
                </modal>
            </div>

            {% include "patterns/green-bar.twig" with { 'text': 'Still not sure what size you need?', 'button_text': 'View Our Fitting Room', 'link': options.fitting_room_link, "middle": true  } %}
                
                        
            <div class="u-wrapper home-units">
                <div class="home-unit__wrapper">
                    <img class="home-unit__image" src="{{ TimberImage(home.climate_controlled_unit_image).src|resize(600, 525) }}" alt="{{ TimberImage(home.climate_controlled_unit_image).alt }}" />
                    <div class="home-unit__title">Climate Controlled</div>
                    <div class="home-unit__description">{{ home.climate_controlled_unit_text }}</div>
                    <button class="home-unit__button" @click="populateHomeUnitModal2('Climate Controlled')">Pick Me</button>
                </div>
                <div class="home-unit__wrapper">
                    <img class="home-unit__image" src="{{ TimberImage(home.interior_unit_image).src|resize(600, 525) }}" alt="{{ TimberImage(home.interior_unit_image).alt }}" />
                    <div class="home-unit__title">Interior Unit</div>
                    <div class="home-unit__description">{{ home.interior_unit_text }}</div>
                    <button class="home-unit__button" @click="populateHomeUnitModal2('Interior')">Pick Me</button>
                </div>
                <div class="home-unit__wrapper">
                    <img class="home-unit__image" src="{{ TimberImage(home.standard_unit_image).src|resize(600, 525) }}" alt="{{ TimberImage(home.standard_unit_image).alt }}" />
                    <div class="home-unit__title">Standard Unit</div>
                    <div class="home-unit__description">{{ home.standard_unit_text }}</div>
                    <button class="home-unit__button" @click="populateHomeUnitModal2('Standard')">Pick Me</button>
                </div>
                <div class="home-unit__wrapper">
                    <img class="home-unit__image" src="{{ TimberImage(home.rv_unit_image).src|resize(600, 525) }}" alt="{{ TimberImage(home.rv_unit_image).alt }}" />
                    <div class="home-unit__title">RV/Boat/Trailer</div>
                    <div class="home-unit__description">{{ home.rv_unit_text }}</div>
                    <button class="home-unit__button" @click="populateHomeUnitModal2('RV/Boat/Trailer')">Pick Me</button>
                </div>
            </div>

            <modal v-if="showChooseUnitModal2" :show="showChooseUnitModal2" @close="clearChooseUnitModal" class="pattern-modal--wide">
                <h3 v-if="!chooseUnitModalLocation" class="u-text-center u-mb-2" v-html="!chooseUnitModalType ? 'Please Choose a Unit Type' : 'Please Choose a Location'"></h3>
                <div class="modal-choose-units__types" v-if="!chooseUnitModalType">
                    <div v-for="type in getUniqueTypesFromCollection(chooseUnitModalUnits)" class="modal-choose-units__type">
                        <div class="modal-choose-units__type-image u-mb-1" :data-type="type"></div>
                        <div class="u-mb-1">{{ '{{ type }}' }}</div>
                        <button @click="chooseUnitModalType = type">Select</button>
                    </div>
                </div>
                <div class="modal-choose-units__locations" v-if="chooseUnitModalType && !loading">
                    <div class="modal-choose-units__location" v-for="location in getUniqueLocationsFromCollectionAndType(chooseUnitModalUnits, chooseUnitModalType)">
                        <div class="modal-choose-units__location-title">{{ '{{ location.post_title }}' }}</div>
                        <ul class="modal-choose-units__location-features">
                            <li v-for="feature in location.popup_features" v-html="feature.name"></li>
                        </ul>
                        <button @click="chooseUnitModalLocation = location">Select Location</button>
                    </div>
                </div>
                <div v-if="loading">Loading...<br>Please wait</div>
            </modal>

            <div class="u-wrapper u-mb-4 u-wrapper--narrow">
                <h3>Finding the Right Kind of Storage in 3 Easy Steps</h3>
                <div>{{ post.get_field('finding_the_right_kind_of_storage_text') }}</div>
            </div>

		</div>
	</article>
{% endblock %}