{% extends "base.twig" %}

{% block below_header %}
{% endblock %}

{% block content %}

<div class="home-hero" style="background-image: url({{ TimberImage(post.hero_image).src('xlarge') }});">
    <div class="u-wrapper">
        <div class="home-hero__gradient"></div>
        <div class="home-hero__cta-wrapper">
            <div class="home-hero__text">{{ post.hero_text }}</div>
            {% if post.hero_link %}
                <a href="{{ post.hero_link['url'] }}" class="button button--plain">{{ post.hero_link['title'] }}</a>
            {% endif %}
        </div>
    </div>
</div>
<h1 class="u-text-center u-mb-3">Find your perfect storage unit</h1>

<div class="u-wrapper home-units">
    <div class="home-unit__wrapper">
        <img class="home-unit__image" src="{{ TimberImage(post.climate_controlled_unit_image).src|resize(600, 525) }}" alt="{{ TimberImage(post.climate_controlled_unit_image).alt }}" />
        <div class="home-unit__title">Climate Controlled</div>
        <div class="home-unit__description">{{ post.climate_controlled_unit_text }}</div>
        <button class="home-unit__button" @click="populateHomeUnitModal('Climate Controlled')">Pick Me</button>
    </div>
    <div class="home-unit__wrapper">
        <img class="home-unit__image" src="{{ TimberImage(post.interior_unit_image).src|resize(600, 525) }}" alt="{{ TimberImage(post.interior_unit_image).alt }}" />
        <div class="home-unit__title">Interior Unit</div>
        <div class="home-unit__description">{{ post.interior_unit_text }}</div>
        <button class="home-unit__button" @click="populateHomeUnitModal('Interior')">Pick Me</button>
    </div>
    <div class="home-unit__wrapper">
        <img class="home-unit__image" src="{{ TimberImage(post.standard_unit_image).src|resize(600, 525) }}" alt="{{ TimberImage(post.standard_unit_image).alt }}" />
        <div class="home-unit__title">Standard Unit</div>
        <div class="home-unit__description">{{ post.standard_unit_text }}</div>
        <button class="home-unit__button" @click="populateHomeUnitModal('Standard')">Pick Me</button>
    </div>
    <div class="home-unit__wrapper">
        <img class="home-unit__image" src="{{ TimberImage(post.rv_unit_image).src|resize(600, 525) }}" alt="{{ TimberImage(post.rv_unit_image).alt }}" />
        <div class="home-unit__title">RV/Boat/Trailer</div>
        <div class="home-unit__description">{{ post.rv_unit_text }}</div>
        <button class="home-unit__button" @click="populateHomeUnitModal('RV/Boat/Trailer')">Pick Me</button>
    </div>
</div>

<modal v-if="showChooseUnitModal" :show="showChooseUnitModal" @close="clearChooseUnitModal" class="pattern-modal--wide">
    <h3 v-if="!chooseUnitModalLocation" class="u-text-center u-mb-2" v-html="!chooseUnitModalType ? 'Please Choose a Unit Type' : 'Please Choose a Location'"></h3>
    <div class="modal-choose-units__types" v-if="!chooseUnitModalType">
        <div v-for="type in getUniqueTypesFromCollection(chooseUnitModalUnits)" class="modal-choose-units__type">
            <div class="modal-choose-units__type-image u-mb-1" :data-type="type"></div>
            <div class="u-mb-1">{{ '{{ type }}' }}</div>
            <button @click="chooseUnitModalType = type">Select</button>
        </div>
    </div>
    <div class="modal-choose-units__locations" v-if="chooseUnitModalType && !loading">
        <div class="modal-choose-units__location" v-for="location in getUniqueLocationsFromCollectionAndType(chooseUnitModalUnits, chooseUnitModalType)">
            <div class="modal-choose-units__location-title">{{ '{{ location.post_title }}' }}</div>
            <ul class="modal-choose-units__location-features">
                <li v-for="feature in location.popup_features" v-html="feature.name"></li>
            </ul>
            <button @click="chooseUnitModalLocation = location">Select Location</button>
        </div>
    </div>
    <div v-if="loading">Loading...<br>Please wait</div>
</modal>

<div class="citywide-difference">
    <div class="u-wrapper">
        <h2 class="citywide-difference__title h1 u-text-center u-mb-3">The Citywide Difference</h2>
        <div class="citywide-difference__items">
            <div class="citywide-difference__item">
                <img class="citywide-difference__item-image" src="{{ TimberImage(post.high_security_storage_image).src|resize(800, 430) }}" alt="{{ TimberImage(post.high_security_storage_image).alt }}" />
                <div class="citywide-difference__item-title">High Security Storage</div>
                <div class="citywide-difference__item-description">{{ post.high_security_storage_text }}</div>
            </div>
            <div class="citywide-difference__item">
                <img class="citywide-difference__item-image" src="{{ TimberImage(post.personalized_help_image).src|resize(800, 430) }}" alt="{{ TimberImage(post.personalized_help_image).alt }}" />
                <div class="citywide-difference__item-title">Friendly &amp; Personalized Help</div>
                <div class="citywide-difference__item-description">{{ post.personalized_help_text }}</div>
            </div>
            <div class="citywide-difference__item">
                <img class="citywide-difference__item-image" src="{{ TimberImage(post.flexible_storage_image).src|resize(800, 430) }}" alt="{{ TimberImage(post.flexible_storage_image).alt }}" />
                <div class="citywide-difference__item-title">Flexible &amp; Easy Storage</div>
                <div class="citywide-difference__item-description">{{ post.flexible_storage_text }}</div>
            </div>
        </div>  
    </div>
</div>

<div class="pattern-testimonials home-testimonials u-wrapper">
    <h2 class="pattern-testimonials__title h1 u-text-center">What Others are Saying About Citywide</h2>

    <div class="pattern-testimonials__wrapper">
		{% for testimonial in testimonials %}
			<div class="pattern-testimonials__item">
				<div class="pattern-testimonials__item-title">{{ testimonial.title }}</div>

                <div class="pattern-testimonials__star-wrapper">
                    {% if testimonial.star_rating == '4' %}
                        {% for i in 1..4 %}
                            <span class="pattern-testimonials__star"></span>
                        {% endfor %}
                        <span class="pattern-testimonials__star pattern-testimonials__star--empty"></span>
                    {% elseif testimonial.star_rating == '5' %}
                        {% for i in 1..5 %}
                            <span class="pattern-testimonials__star"></span>
                        {% endfor %}
                    {% else %}
                        {% for i in 1..5 %}
                            <span class="pattern-testimonials__star"></span>
                        {% endfor %}
                    {% endif %}
                </div>

				<blockquote>“{{ testimonial.testimonial_text }}”</blockquote>
			</div>
		{% endfor %}
	</div>
    
    <div class="u-text-center"><button @click="showReviewModal = true" class="button">Leave a Review</button></div>

    <modal v-if="showReviewModal" @close="showReviewModal = false" class="pattern-modal--wide review-modal">
        <h3 class="u-text-center u-mb-2">Leave a Review</h3>
        <p class="u-text-center u-bold">We would love it if you would share your great experience with others.</p>
        <div class="review-modal__sites">
            <a href="https://www.facebook.com/citywidestorage/reviews/" class="review-modal__site">
                <img src="{{theme.link}}/static/images/facebook.png" />
                Review Us On Facebook
            </a>
            <a href="https://goo.gl/jJVhzT" class="review-modal__site">
                <img src="{{theme.link}}/static/images/google.png" />
                Review Us On Google
            </a>
            <a href="https://www.yelp.com/writeareview/biz/A__0uiyTraJXOBh9J0RVew" class="review-modal__site">
                <img src="{{theme.link}}/static/images/yelp.png" />
                Review Us On Yelp
            </a>
        </div>
    </modal>
</div>

{% endblock %}