{% extends 'base.twig' %}

{% block content %}

    <div class="faux-breadcrumbs">
        <div class="u-wrapper">
            <span class="faux-breadcrumbs__location">{{ location }}</span> 
            &nbsp;&rsaquo;&nbsp; 
            <span class="faux-breadcrumbs__type">Choose a {{ post.get_field('unit_type') }} Unit Size</span>
        </div>
    </div>

    <div class="u-wrapper u-mb-4">
        {{ post.content }}
    </div>
     
    <unit-nav location="{{ location }}" type="{{ post.get_field('unit_type') }}"></unit-nav>

    {% include "patterns/green-bar.twig" with { 'text': 'Still not sure what size you need?', 'button_text': 'View Our Fitting Room', 'link': options.fitting_room_link  } %}

{% endblock %}
