{% extends "base.twig" %}

{% block content %}

    <div class="u-wrapper u-wrapper--narrow">
        <h1 class="u-mb-2">{{ post.title }}</h1>
		<div class="u-mb-4">{{ post.content }}</div>
    </div>

    <div class="u-mb-4 u-wrapper">
        <div class="moving-supplies">
            <div class="moving-supplies__list">
                {% for supplies in moving_supplies %}
                    <div class="moving-supplies__item">
                        <img class="moving-supplies__item-image" src="{{ TimberImage(supplies.image).src('medium') }}" alt="{{ TimberImage(supplies.image).alt }}" />
                        <h3>{{ supplies.title }}</h3>
                        <p>{{ supplies.get_field('short_description')|excerpt(30) }}</p>
                        <a class="button" href="{{ supplies.link }}">Learn More</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include "patterns/green-bar.twig" with { 'text': 'Looking for Storage?', 'button_text': 'See Our Storage Units', 'link': options.storage_units_link  } %}

{% endblock %}