{% extends "base.twig" %}

{% block content %}

    <div class="u-wrapper u-wrapper--narrow u-mb-4">
        <h1 class="u-mb-2">{{ post.title }}</h1>
		<div>{{ post.content }}</div>
    </div>

{% endblock %}