{% extends 'base.twig' %}

{% block content %}

    <div class="u-wrapper u-mb-4">
        <h1 class="u-mb-3">Choose a Unit Type &amp; Location</h1> 
        
        {% for location in locations %}
            {% set address = location.street_address ~ ", Salina, KS" %}
            <div class="reserve-online__location">
                <div class="reserve-online__location-header">
                    <h3>{{ location.title }} Location</h3>
                    <a class="button button--plain" href="https://google.com/maps?q={{ address|url_encode }}" target="_blank">Get Directions</a>
                </div>
                <div class="reserve-online__location-unit-types">
                    {% if location.climate_controlled_link %}
                        <div class="reserve-online__location-unit-types-link">
                            <div class="reserve-online__location-unit-types-image" style="background-image: url({{ theme.link }}/static/images/climate-controlled.png)"></div>
                            <div class="reserve-online__location-unit-types-title">Climate Controlled</div>
                            <a class="button" href="{{ location.get_field('climate_controlled_link') }}">Select</a>
                        </div>
                    {% endif %}
                    {% if location.interior_link %}
                        <div class="reserve-online__location-unit-types-link">
                            <div class="reserve-online__location-unit-types-image" style="background-image: url({{ theme.link }}/static/images/interior.png)"></div>
                            <div class="reserve-online__location-unit-types-title">Interior Units</div>
                            <a class="button" href="{{ location.get_field('interior_link') }}">Select</a>
                        </div>
                    {% endif %}
                    {% if location.concrete_link %}
                        <div class="reserve-online__location-unit-types-link">
                            <div class="reserve-online__location-unit-types-image" style="background-image: url({{ theme.link }}/static/images/concrete.png)"></div>
                            <div class="reserve-online__location-unit-types-title">Concrete Units</div>
                            <a class="button" href="{{ location.get_field('concrete_link') }}">Select</a>
                        </div>
                    {% endif %}
                    {% if location.standard_link %}
                        <div class="reserve-online__location-unit-types-link">
                            <div class="reserve-online__location-unit-types-image" style="background-image: url({{ theme.link }}/static/images/standard.png)"></div>
                            <div class="reserve-online__location-unit-types-title">Standard Units</div>
                            <a class="button" href="{{ location.get_field('standard_link') }}">Select</a>
                        </div>
                    {% endif %}
                    {% if location.rv_boat_trailer_link %}
                        <div class="reserve-online__location-unit-types-link">
                            <div class="reserve-online__location-unit-types-image" style="background-image: url({{ theme.link }}/static/images/rv-boat-trailer.png)"></div>
                            <div class="reserve-online__location-unit-types-title">RV/Boat/Trailer</div>
                            <a class="button" href="{{ location.get_field('rv_boat_trailer_link') }}">Select</a>
                        </div>
                    {% endif %}
                </div>
                <div class="u-bold u-mb-1">Additional Features</div>
                <ul class="reserve-online__location-features">
                {% for feature in location.get_field('features') %}
                    <li>{{ feature.name }}</li>
                {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>

    <img src="{{ theme.link }}/static/images/location-map.jpg" alt="Grayscale Map with Citywide Self Storage Pinned" class="reserve-online__grayscale-map" />

{% endblock %}
