{% extends "base.twig" %}

{% block content %}

    <div class="u-wrapper u-wrapper--narrow u-mb-4">
        <h1 class="u-mb-2">{{ post.title }}</h1>
		<div>{{ post.get_field('intro') }}</div>

        <div class="supplies__item">
            <img class="supplies__item-image" src="{{ TimberImage(post.image).src('large') }}" alt="{{ TimberImage(post.image).alt }}" />
            <div class="supplies__item-content">
                <h3>{{ post.get_field('short_description_title') }}</h3>
                <div class="u-mb-2">{{ post.get_field('short_description') }}</div>
                <ul class="supplies__item-features">
                    {% for feature in post.get_field('features') %}
                        <li>{{ feature.name }}</li>
                    {% endfor %}
                </ul>
                <button v-if="!suppliesIsInCart({{post.ID}})" class="button button--plain" @click="addSuppliesToCartById({{post.ID}})">Add to Reservation - ${{post.price}}</button>
                <a href="/checkout" class="button" v-if="suppliesIsInCart({{post.ID}})">In Cart - Go to Checkout</a>
            </div>
        </div>
    </div>

    {% include "patterns/green-bar.twig" with { 'text': 'Find the Right Unit for You', 'button_text': 'View Available Units', 'link': options.storage_units_link  } %}

{% endblock %}