{% extends "base.twig" %}

{% block content %}

    <div class="u-wrapper u-wrapper--narrow u-mb-4">
        <h1 class="u-mb-2">{{ post.title }}</h1>
		<div class="u-mb-2">{{ post.content }}</div>

        <div class="trailers">
            <h2 class="u-mb-2">Trailer Rental</h2>
            <div class="trailers__list">
                {% for trailer in trailers %}
                    <div class="trailers__item">
                        <img class="trailers__item-image" src="{{ TimberImage(trailer.image).src }}" alt="{{ TimberImage(trailer.image).alt }}" />
                        <div class="trailers__item-content">
                            <h3>{{ trailer.title }}</h3>
                            <div class="trailers__item-price">${{ trailer.price }}/per day</div>
                            <p>{{ trailer.short_description }}</p>
                            <button v-if="!trailerIsInCart({{trailer.ID}})" class="button button--plain" @click="addTrailerToCartById({{trailer.ID}})">Add to Reservation</button>
                            <a href="/checkout" class="button" v-if="trailerIsInCart({{trailer.ID}})">In Cart - Go to Checkout</a>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    
    </div>

    {% include "patterns/green-bar.twig" with { 'text': 'Find the Right Unit for You', 'button_text': 'View Available Units', 'link': options.storage_units_link  } %}

{% endblock %}