{% extends "base.twig" %}

{% block content %}

    <div class="u-wrapper u-wrapper--narrow u-mb-4">
        <h1 class="u-mb-2">{{ post.title }}</h1>
		<div class="u-mb-2">{{ post.content }}</div>

        <div class="truck-trailer">
            
            <div class="truck-trailer__half">
                <h3>Citywide Trailer Rental</h3>
                <img src="{{ TimberImage(post.trailer_image).src }}" alt="{{ TimberImage(post.trailer_image).alt }}" />
                <p>{{ post.get_field('trailer_short_description') }}</p>
                <ul class="truck-trailer__features">
                    {% for feature in post.get_field('trailer_features') %}
                        <li>{{ feature.name }}</li>
                    {% endfor %}
                </ul>
                <a class="button" href="{{ post.get_field('trailer_link') }}">See Trailers</a>
            </div>

            <div class="vertical-separator"></div>

            <div class="truck-trailer__half">
                <h3>U-Haul Rental</h3>
                <img src="{{ TimberImage(post.uhaul_image).src }}" alt="{{ TimberImage(post.uhaul_image).alt }}" />
                <p>{{ post.get_field('uhaul_short_description') }}</p>
                <ul class="truck-trailer__features">
                    {% for feature in post.get_field('uhaul_features') %}
                        <li>{{ feature.name }}</li>
                    {% endfor %}
                </ul>
                <a class="button" href="{{ post.get_field('uhaul_link') }}">See U-Haul</a>
            </div>
        </div>
    </div>

    {% include "patterns/green-bar.twig" with { 'text': 'Looking for Storage?', 'button_text': 'See Our Storage Units', 'link': options.storage_units_link  } %}

{% endblock %}