<div type="x/template" id="unit-nav">
    <div class="pattern-unit-navigation">
        <div class="pattern-unit-navigation__tabs-wrapper">
            <div class="u-wrapper">
                <div v-if="!units.length">No Units Found. Please contact an administrator.</div>
                <div class="pattern-unit-navigation__tabs">
                    <button v-for="size in unitSizes" @click="changeSize(size)" :class="{'pattern-unit-navigation__tab--active' : (currentSize === size)}" class="pattern-unit-navigation__tab">{{ '{{size}}' }}</button>
                </div>
            </div>
        </div>
        <div class="u-wrapper">
            <div class="pattern-unit-navigation__results">
                <single-unit v-for="(unit, index) in getUnitsFromSize(currentSize)" :unit="unit" :key="index"></single-unit>
            </div>
        </div>
    </div>
</div>

<div type="x/template" id="single-unit">
    <div class="pattern-unit-navigation__unit">
        <img v-if="unit.image.url" :src="unit.image.url" :alt="getUnitDimensions(unit) + ' unit'" />
        <div class="pattern-unit-navigation__unit-details">
            <div class="pattern-unit-navigation__unit-dimensions">{{ '{{ unit.width }}&#39;'  }} x {{ '{{ unit.depth }}&#39;' }} <span v-if="unit.height">x {{ '{{ unit.height }}&#39;' }}</span></div>
            <div class="pattern-unit-navigation__unit-price">
                <span class="pattern-unit-navigation__unit-price-normal" :class="{ 'pattern-unit-navigation__unit-price--slashed' : unit.special }">${{ '{{unit.price}}' }} Per Month</span>
                <span class="pattern-unit-navigation__unit-price-special" v-if="unit.special">First Month Special Price: $25!</span>
                <div class="pattern-unit-navigation__unit-low-inventory" v-if="unit.low_inventory">Low Inventory. Call Now to Reserve</div>
            </div>
            <div class="pattern-unit-navigation__unit-detail">Perfect for Storing<br> <span v-html="unit.uses"></div>
            <div class="pattern-unit-navigation__unit-detail">Features<br> <span v-html="unit.features"></div>
            <button @click="addToCart(unit)">Reserve Online</button>
        </div>
    </div>
</div>