.blog, .archive {
	
}

.blog-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.blog-intro {
	padding-bottom: 2rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid $black;
}

.blog-posts {
	order: 1;
	max-width: 55rem;
}

.tease-post {
	display: flex;
	align-items: flex-start;
	margin-bottom: 2rem;
	padding-bottom: 2rem;
	border-bottom: 1px solid $black;

	img {
		width: 12.5rem;
		margin-right: 2rem;
	}

	&__content {

		a {
			color: $dark-green;
			text-transform: uppercase;
		}

		.read-more {
			display: block;
			margin-top: 1rem;
		}

		time {
			display: block;
			text-align: right;
		}
	}
}

.blog-sidebar {
	order: 2;
	max-width: 18rem;
	width: 100%;
	@include mq($tablet){
		order: 0;
		margin-right: 1rem;
	}
}

.post-thumbnail {
	width: 100%;
	display: block;
}

.pagination {
	text-align: center;
	margin: 4em 0;
	.pages {
		display: inline-block;
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			display: inline-block;

			+ li {
				margin-left: 1em;
			}

			a {
				display: inline;
				padding: 0 .25em;
			}
		}
	}

	.next {
		margin-left: 1em;
	}
}

.pagination:empty {
	display: none;
}