.button, a.button, button {
	height: auto;
	vertical-align: middle;
	white-space: normal;
	line-height: 1;
	font-size: 1rem;
	text-decoration: none;
	display: inline-block;
	font-family: $font-heading;
	transition: all 100ms linear;
	border: none;
	cursor: pointer;
	font-weight: 700;
	-webkit-appearance: none;
	appearance: none;
	background: linear-gradient(-180deg, #8EDD7E 0%, #55B948 84%);
	box-shadow: 0 5px 4px -4px rgba(0,0,0,0.50);
	border-radius: 3px;
	padding: .75rem 1rem;
	color: $dark-green;
	min-width: 10rem;
	text-align: center;
	
	&:hover, &:active, &:focus {
		// background-image: linear-gradient(-180deg, #EFEFEF 0%, #EFEFEF 21%, #DBDBDB 100%);
	}

	&:focus {
		outline: 1px dashed black;
	}

	&.large {
		font-size: 1.5rem;
	}

	&--plain {
		color: $black;
		background-image: linear-gradient(-180deg, #EFEFEF 0%, #EFEFEF 21%, #DBDBDB 100%);
	}

	&--large {
		padding: 1rem 2rem;
	}

	&[disabled]{
		cursor: not-allowed;
		color: $black;
		background-image: linear-gradient(-180deg, #EFEFEF 0%, #EFEFEF 21%, #DBDBDB 100%);
	}

}
