.page-template-checkout {
    h1 {
        margin: 4rem 0;
        text-align: center;

        @include mq($small-tablet){
            text-align: left;
        }
    }
}

.checkout {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 1rem;

    @include mq($small-tablet){
        flex-wrap: nowrap;
        padding: 0;
    }

    &--submitting {
        pointer-events: none;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $black;
            opacity: .75;
            z-index: 100;
        }
    }

    &__nav-buttons {
        width: 100%;
        order: 3;
    }

    &__remove-button {
        background: none;
        color: tomato;
        width: 1rem;
        min-width: 0;
        height: 1rem;
        border-radius: 50%;
        text-align: center;
        box-shadow: none;
        padding: 0;
        margin: 0;
        border: 1px solid tomato;
        font-size: .5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        line-height: 1;

        .checkout--complete & {
            display: none !important;
            pointer-events: none;
        }

        &--inline {
            position: static;
            transform: none;
            display: inline-flex;
        }

        &--ignore-events {
            pointer-events: none;
        }
    }


    &__form-wrapper {
        flex: 1 1 auto;
        min-width: 18rem;
        max-width: 40rem;
        
        @include mq($small-tablet){
            margin-right: 4rem;
        }
    }

    &__cart {
        flex: 0 1 20rem;
        margin-bottom: 2rem;

        @include mq($small-tablet){
            position: sticky;
            top: 3rem;
        }

        &-details {
            padding: 1rem;
            background: $light-gray;
        }

        &-item {
            margin-bottom: 1rem;
            position: relative;
        }
    }

    &__line-item {
        display: flex;

        > span:first-child {
            margin-right: auto;
        }
    }

    &__form-label {
        margin-bottom: 1rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-weight: 700;
        cursor: pointer;

        &--seperated {
            border-bottom: 1px solid $black;
            padding-bottom: 2rem;
            margin-bottom: 2rem;
        }

        &-text {
            min-width: 8rem;
            display: inline-block;

            &--extended {
                min-width: 100%;
                font-weight: 400;
                margin-top: 1rem;
                font-size: .75rem;
                margin-left: 2rem;
            }
        }

        input[type="text"]{
            flex: 1 auto;
            min-width: 12rem;
            font-weight: 400;
            font-family: $font-heading;
        }

        input[type="radio"]{
            border-radius: 50%;
        }

        input[type="checkbox"], input[type="radio"]{
            margin-right: 1rem;
            -webkit-appearance: none;
            appearance: none;
            border: 1px solid $light-green;
            background: none;
            width: 1rem;
            height: 1rem;

            ~ .checkout__form-label-text {
                margin-right: auto;
            }

            &:checked {
                background: $light-green;
            }
        }
    }

    &__errors {
        margin-bottom: 2rem;
    }

    &__error {
        background: tomato;
        color: $white;
        text-transform: uppercase;
        font-size: .75rem;
        margin-bottom: .25rem;
        padding: .25rem;
    }

    &__confirmation {
        &-notice {
            background: $gold;
            padding: 2rem;
            margin-bottom: 2rem;
        }

        &-details {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &-detail {
            margin-bottom: 2rem;
        }
    }
}

.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
    border-color: $light-green !important;
}

.vdp-datepicker__calendar .cell.selected, .vdp-datepicker__calendar .cell.selected.highlighted, .vdp-datepicker__calendar .cell.selected:hover {
    background: $light-green !important;
    color: $white !important;
}