#footer {
	background: $dark-green;
	color: $white;
	padding: 2rem 0 1rem;

	a {
		color: $white;
	}
}

#footer-menu {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		margin-bottom: 1rem;
	}
}

.footer {
	&__inner-wrapper {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;

		@include mq($desktop){
			justify-content: space-between;
			flex-wrap: nowrap;
		}

		> * {
			flex: 0 0 100%;
			max-width: 100%;
			margin-right: 2rem;
			margin-bottom: 2rem;

			@include mq($tablet){
				flex: 0 0 40%;
				max-width: 40%;
			}

			@include mq($desktop){
				flex: 0 0 auto;
			}
		}
	}

	&__logo {
		flex: 0 0 100%;
		margin-top: 1rem;
		max-width: 100%;

		@include mq($desktop){
			flex: 0 0 auto;	
		}

		img {
			display: block;
			width: 100%;
			max-width: 11rem;
		}
	}

	&__title {
		text-transform: uppercase;
		font-family: $font-heading;
		font-weight: 700;
		margin-bottom: 1rem;
	}
}

// Agency Credit
#footer .agency {
	padding-bottom: 1rem;
	font-size: .75rem;
	margin-top: 2rem;
}