a {
	text-decoration: none;
	color: $light-green;
	&:hover {
		text-decoration: underline;
	}
}

a.arrow {
	display: inline-block;
	&:after {
		margin-left: .5em;
		display: inline-block;
		content: '';
		width: 0;
		height: 0;
		border-left: .35em solid currentColor;
		border-top: .35em solid transparent;
		border-bottom: .35em solid transparent;
	}
}

.no-scroll {
	overflow-x: hidden;
	overflow-y: hidden;
	z-index: -1;
}

[type="text/template"], [type="x/template"] {
	display: none;
}

.mfp-content {
	[type="text/template"] {
		display: block;
	}
}

.mfp {
	background: $white;
	width: 90%;
	max-width: 75em;
	margin: 0 auto;
	position: relative;
	padding: 2rem;
}

.mfp-close {
	margin: 0;
}

.slick-slider {

	.slick-list {
		z-index: 1;
	}

	.slick-arrow, .slick-prev, .slick-next {
		z-index: 10;
		width: 3rem;
		height: 3rem;
		background: rgba($white, .25);
		border-radius: 50%;
		
		&:before {
			font-family: 'FontAwesome', 'slick', sans-serif;
			font-size: 2rem;
			color: $white;
			opacity: 1;
			position: relative;
		}
	}
	.slick-prev {
		left: 1.5rem;

		&:before {
			content: '\f0d9';
			right: 2px;
		}
	}
	.slick-next {
		right: 1.5rem;

		&:before {
			content: '\f0da';
			left: 2px;
		}
	}
}

.pattern-header-image {
	min-height: 40vw;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	margin-bottom: 2rem;

	.page-template-location-unit-type & {
		margin-bottom: 1rem;
	}

	@include mq($tablet){
		min-height: 24rem;
	}
}

.pattern-testimonials {
	margin-bottom: 2rem;

	&__wrapper {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		margin-bottom: 2rem;
	}

	&__title {
		margin-bottom: 2rem;
	}

	&__item {
		display: flex;
		flex: 0 1 20rem;
		flex-direction: column;
		align-items: center;
	}

	&__item-title {
		font-size: 1.375rem;
		font-weight: 700;
		color: $dark-green;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: .75rem;
	}

	&__star-wrapper {
		margin-bottom: 1rem;
	}

	&__star {
		background-image: url('static/images/star.png');
		background-size: contain;
		background-repeat: no-repeat;
		width: 2rem;
		height: 2rem;
		display: inline-block;

		&--empty {
			background-image: url('static/images/empty-star.png');
		}
	}

}

.pattern-unit-navigation {
	margin-bottom: 2rem;
	
	&__tabs-wrapper {
		border-bottom: .5rem solid $light-green;
		margin-bottom: 2rem;
	}

	&__tabs {
		display: flex;
		align-items: stretch;
	}

	&__tab {
		padding: 1rem 1rem;
		font-family: $font-heading;
		color: $black;
		background-image: linear-gradient(30deg, #EFEFEF 0%, #DBDBDB 100%);
		font-weight: 700;
		border-radius: 0;
		box-shadow: none;
		border-radius: 5px 5px 0 0;
		min-width: auto;

		&:focus {
			outline: none;
		}

		@include mq($tablet){
			padding: 1rem 3rem;
			text-transform: uppercase;
		}

		&--active {
			cursor: pointer;
			background-image: linear-gradient(-180deg, #8EDD7E 0%, #55B948 100%) !important;
			// background: $light-green !important;
			color: $dark-green;
			transform-origin: center;
			will-change: transform;
			transition: all 100ms linear;
			position: relative;

			@include mq($tablet){
				transform: scale3d(1.15, 1.15, 1.15);
			}
		}
	}

	&__unit {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		border-bottom: 1px solid $black;
		padding-bottom: 3rem;
		margin-bottom: 3rem;

		&:last-child {
			border-bottom: none;
		}

		img {
			flex: 0 1 12rem;
			margin: 0 auto 2rem;
			max-width: 12rem;

			@include mq($small-tablet){
				margin: 0 4rem 2rem 0;
			}
		}

		&-details {
			min-width: 18rem;
			max-width: 40rem;
		}

		&-detail {
			margin-bottom: 1rem;
			font-weight: 700;
			
			> span {
				font-weight: 400;
			}
		}

		&-dimensions {
			font-weight: 700;
			font-size:  1.5rem;
			line-height: 1;
			text-transform: uppercase;
			color: $dark-green;
			margin-bottom: 1rem;
		}

		&-price {
			font-weight: 700;
			font-size: 1.25rem;
			margin-bottom: 1rem;

			&--slashed {
				position: relative;
				&:after {
					content: '';
					width: 110%;
					height: 4px;
					background: $gold;
					display: block;
					position: absolute;
					transform-origin: center;
					transform: translate(-50%, -50%) rotate(-6deg);
					left: 50%;
					top: 50%;
					opacity: .5;
				}
			}

			span {
				display: inline-block;
				margin-right: 1rem;
			}
		}

		&-low-inventory {
			color: $red;
			font-weight: 700;
		}
	}
}

.review-modal {
	&__sites {
		display: flex;
		align-items: flex-start;
		justify-content: space-around;
		flex-wrap: wrap; 
	}

	&__site {
		margin: 1rem;
		display: flex;
		flex-direction: column;
		max-width: 6rem;
		align-items: center;
		justify-content: center;
		text-align: center;
		color: $black;
		cursor: pointer;
		
		img {
			display: block;
			margin-bottom: 1rem;
		}
	}
}

.modal-choose-units {
	&__types, &__locations {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	&__type, &__location {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-transform: uppercase;
		font-family: $font-heading;
		color: $dark-green;
		font-weight: 700;
		margin-bottom: 2rem;
		text-align: center;
		flex: 0 1 8rem;

		@include mq($tablet){
			flex: 0 1 12rem;
		}

		&-image {
			width: 2rem;
			height: 2rem;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;

			&[data-type="Climate Controlled"]{
				background-image: url('static/images/climate-controlled.png');
			}
			&[data-type="Interior"]{
				background-image: url('static/images/interior.png');
			}
			&[data-type="Standard"]{
				background-image: url('static/images/standard.png');
			}
			&[data-type="Concrete"]{
				background-image: url('static/images/concrete.png');
			}
			&[data-type="RV/Boat/Trailer"]{
				background-image: url('static/images/rv-boat-trailer.png');
			}
		}
	}

	&__location {
		flex: 0 1 12rem;

		@include mq($tablet){
			flex: 0 1 10rem;
		}

		&-title {
			margin-bottom: 0;
			@include mq($tablet){
				margin-bottom: 1rem;
			}
		}

		&-features {
			padding: 0;
			padding-left: 1rem;
			margin-bottom: 1rem;
			text-align: left;
			font-weight: 400;
			color: $black;
			text-transform: none;
			font-size: .75rem;

			li {
				padding-left: .25rem;
			}

			@include mq($desktop){
				min-height: 8rem;
			}
		}
	}
}

.pattern-green-bar {
	background: $light-green;
	color: $dark-green;
	text-align: center;
	padding: 1.5rem .5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	font-weight: 700;
	font-size: 1.25rem;

	&--middle {
		margin-bottom: 2rem;
	}

	> * {
		margin: .5rem 2rem;
	}
}

.pattern-modal {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;

	&--wide {
		.pattern-modal__content {
			flex: 0 1 75rem;
		}
	}

	&__bg {
		background: rgba(31, 31, 31, .95);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 90;
		transition: opacity 200ms ease;
	}

	&__content {
		max-height: calc(100vh - 5rem);
		overflow-y: scroll;
		flex: 0 1 35rem;
		margin: 2rem;
		position: relative;
		background: $white;
		padding: 3rem 2rem;
		z-index: 110;
		transition: all 200ms ease;
		box-shadow: 0 0 8px $black;
	}

	&__close-button {
		position: absolute;
		top: .5rem;
		right: .5rem;
		min-width: 0;
	}
}

.modal-enter {
	opacity: 0;

	.pattern-modal__content {
		transform: scale(1.2);
		opacity: 0;
	}

	.pattern-modal__bg {
		opacity: 0;
	}
}

.modal-leave-active {
	opacity: 0;
}

.faux-breadcrumbs {
	border-bottom: 1px solid $light-green;
	font-weight: 700;
	color: $dark-green;
	padding: 0 0 1rem 0;
	margin-bottom: 4rem;

	&__location {
	}

	&__type {
		color: $light-green;
	}
}