#header {
    box-shadow: 0 6px 6px rgba($black, .3);
    position: relative;
    z-index: 1;

	#nav-main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1rem;
        flex-direction: row;

        @include mq($tablet){
            flex-direction: row;
        }

        #header-logo {
            order: 1;
            // margin-bottom: 1rem;
            max-width: 10rem;
            
            @include mq($tablet){
                margin-bottom: 0;
                max-width: 12rem;
            }
        }

        .nav-inner-wrap {
            order: 4;
            display: none;

            @include mq($tablet){
                display: block;
            }

            &.visible-menu {
                display: block;
                flex: 1 0 100%;
                width: 100%;
            }
        }

        .menu-toggle-container {
            order: 0;
            margin: 1rem 0 2rem;

            .button {
                min-width: auto;
                box-shadow: none;
                background: none;
                border: none;
                padding: 1rem;

                &:before {
                    font-size: 2rem;
                }
            }
        }

        #primary-menu {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
            font-family: $font-heading;
            text-transform: uppercase;
            font-weight: 700;
            flex-direction: column;

            @include mq($tablet){
                font-size: .85rem;
                flex-direction: row;
            }

            > li {
                margin-bottom: 1rem;

                @include mq($tablet){
                    margin-left: .5rem;
                    margin-bottom: 0;
                }

                &:first-child, &:last-child {
                    &:before {
                        background: transparent;
                        display: none;
                    }
                }

                &:last-child {
                    a {
                        text-decoration: none;
                        display: inline-block;
                        color: $dark-green;
                        background-image: linear-gradient(-180deg, #8EDD7E 0%, $light-green 84%);
                        box-shadow: 0 5px 4px -4px rgba($black, .5);
                        border-radius: 3px;
                        padding: .5rem 1rem;
                        text-transform: capitalize;
                        position: relative;
                        top: -2px;

                        &:hover {
                            background-image: linear-gradient(-180deg, #EFEFEF 0%, #EFEFEF 21%, #DBDBDB 100%);
                        }
                    }
                }

                &:before {
                    content: '';
                    width: 2px;
                    background: $light-green;
                    height: 1.5rem;
                    vertical-align: middle;
                    margin-right: .5rem;
                    transform-origin: center;
                    transform: rotate(15deg);
                    display: none;

                    @include mq($tablet){
                        display: inline-block;
                    }
                }

                a {
                    color: $black;
                }
            }
        }

        .cart-info {
            order: 3;
            text-align: right;
            flex: 0 0 4rem;
            transform: scale(1.25);
            transform-origin: right center;
            
            @include mq($tablet){
                flex: 0 0 100%;
                order: -1;
                transform: none;
            }

            &__text {
                display: none;

                @include mq($tablet){
                    display: inline;
                }
            }

            img {
                max-width: 1.25rem;
            }

            a {
                color: $black;
                text-decoration: none;
            }
        }
    }
} // #header

.sticky-cta {
    background: $dark-green;
    color: $white;
    text-align: center;
    padding: .5rem 0;
    text-transform: uppercase;
    margin-bottom: 1rem;
    position: sticky;
    top: 0;
    z-index: 20;
    
    @include mq($tablet){
        text-align: right;
    }

    &__text {
        display: inline-block;
        margin-right: 1rem;
    }

    &__link {
        color: $white;
        margin-right: 1rem;
        
        @include mq($tablet){
            display: inline-block;
            margin-right: 0;
        }
    }
}