.home {

	&-hero {
        background-image: url('static/images/header.jpg');
        background-size: cover;
        background-position: center center;
        position: relative;
        margin-bottom: 3rem;

        &__cta-wrapper {
            position: relative;
            z-index: 10;
            padding: 8rem 0 10rem;
            max-width: 35rem;
        }

        &__text {
            color: $white;
            font-size: 3rem;
            line-height: 1;
            text-transform: uppercase;
            font-weight: 700;
            position: relative;
            z-index: 10;
            margin-bottom: 2rem;
            text-shadow: 0 2px 4px rgba($black, .5);
        }

        &__gradient {
            background-image: linear-gradient(0deg, #55B948 0%, #8FC73F 100%);
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            opacity: .95;
            pointer-events: none;
            z-index: 1;
            mix-blend-mode: multiply;
            width: 100%;
            
            @include mq($tablet){
                left: -0.5rem;
                width: calc(100% + 1rem);
                right: auto;
                left: auto;
                transform: skew(-15deg) translateX(-4rem);
                max-width: 40rem;
            }
        }
    }

    &-units {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 3rem;
        
        @include mq($desktop){
            justify-content: space-between;
            flex-wrap: nowrap;
        }
    }

    &-unit {
        
        &__wrapper {
            flex: 0 1 20rem;
            margin: 0 1rem 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            @include mq($desktop){
                margin: 0;
            }
        }

        &__image {
            box-shadow: 0 .85rem 0 -.5rem $light-green;
            margin-bottom: 1.5rem;
        }

        &__title {
            font-size: 1.375rem;
            font-weight: 700;
            color: $dark-green;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: .75rem;
        }

        &__description {
            min-height: 14rem;
            margin-bottom: 1rem;
            text-align: center;
        }
    }

    .citywide-difference {
        background: $light-gray;
        box-shadow: 0 0 .25rem rgba($black, .5);
        padding: 3rem 0 3rem;
        position: relative;
        z-index: 10;

        &__items {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            
            @include mq($desktop){
                justify-content: space-between;
                flex-wrap: nowrap;
            }
        }

        &__item {
            flex: 0 1 26rem;
            margin: 0 1rem 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            @include mq($desktop){
                margin: 0;
            }

            &-image {
                box-shadow: 0 .85rem 0 -.5rem $light-green;
                margin-bottom: 1.5rem;
            }

            &-title {
                font-size: 1.375rem;
                font-weight: 700;
                color: $dark-green;
                text-align: center;
                text-transform: uppercase;
                margin-bottom: .75rem;
            }

            &-description {
                text-align: center;
            }
        }
    }

    &-testimonials {
        border-top: .25rem solid $light-green;
        position: relative;
        z-index: 10;
        padding-top: 3rem;
        padding-bottom: 1rem;
    }
}