.pages {

    &-fitting-room-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;

        img {
            flex: 0 1 30rem;
            margin-bottom: 2rem;
            @include mq($desktop) {
                max-width: 50%;
            }
        }

        &__text {
            flex: 0 1 30rem;
        }
    }
}