.reserve-online {
    &__location {
        border-bottom: 1px solid $black;
        padding-bottom: 2rem;
        margin-bottom: 2rem;

        &:last-child {
            border-bottom: none;
        }

        &-header {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 2rem;

            h3 {
                margin-right: 2rem;
                margin-top: 1rem;
            }
        }

        &-unit-types {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            margin-bottom: 2rem;

            &-link {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-right: 2rem;
                // text-transform: uppercase;
                width: 10rem;
                margin-bottom: 1rem;
                text-align: center;

                @include mq($tablet){
                    width: auto;
                    margin-right: 4rem;
                }

                > * {
                    margin-bottom: 1rem;
                }
            }

            &-image {
                width: 3rem;
                height: 3rem;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
            }

            &-title {
                color: $dark-green;
                font-weight: 700;
            }
        }

        &-features {
            @include mq($tablet){
                columns: 2 auto;
            }

            li {
                list-style: none;
                &:before {
                    content: '\2022';
                    margin-right: 1rem;
                }
            }
        }
    }

    &__grayscale-map {
        width: 100%;
        height: auto;
        display: block;
    }
}