.moving-supplies {
    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        flex-direction: column;
        padding: 1rem 1rem 2rem;
        margin-bottom: 2rem;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        flex: 0 1 100%;
        border-bottom: 1px solid $black;

        p {
            flex-grow: 1;
        }

        @include mq($small-tablet){
            flex: 0 1 50%;
        }

        @include mq($tablet){
            flex: 0 1 25%;
            border-bottom: none;
        }

        &-image {
            max-width: 8rem;

            @include mq($tablet){
                max-width: 16rem;
            }
        }
    }
}


.supplies {
    &__item {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-bottom: 4rem;
        justify-content: space-between;
        
        &-image {
            flex: 0 1 20rem;
            max-width: 20rem;
            @include mq($tablet){
                order: 2;
            }
        }

        &-content {
            flex: 0 1 32rem;
        }

        &-features {
            columns: 2;
        }
    }
}