.truck-trailer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @include mq($tablet){
        justify-content: space-between;
    }

    &__half {
        flex: 0 1 28rem;
        margin-bottom: 4rem;

        img {
            display: block;
            margin-bottom: 1rem;
        }
    }

    .vertical-separator {
        width: 1px;
        background: $black;
        display: none;

        @include mq($tablet){
            display: block;
        }
    }
}

.trailers {

    &__item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 4rem;
        justify-content: space-between;
        
        &-image {
            flex: 0 1 20rem;
        }

        &-content {
            flex: 0 1 28rem;
        }

        &-price {
            font-size: 1.25rem;
            font-weight: 700;
        }
    }
}