$white: #FFF;
$black: #595959;

$light-gray: #F5F5F5;
$gray: #9B9B9B;

$light-green: #55B948;
$dark-green: #0B553B;

$gold: #FFC314;
$red: #D0021B;

$shadow: 0 2px 5px 4px rgba($black, .2);
$border-radius: .5rem;

$twitter-blue: #0084FF;
$youtube-red: #FF0000;
$linkedin-blue: #4875B4;

$font-heading: "purista-web", Arial, 'FontAwesome', sans-serif;
$font-body: 'ff-utility-web-pro', Arial, 'FontAwesome', sans-serif;

$small-tablet: 500px;
$tablet: 900px;
$desktop: 1200px;

$menu-breakpoint: 1300px;