/**
 * Theme Name: Citywide Self Storage Theme
 * Author: 502 - A strategic marketing agency
 * Author URI: http://weare502.com/
 * Version: 0.1
 */
@import "reset";
@import "mq";
@import "susy2/susy";
@import "fonts";
@import "variables";

* {
	box-sizing: border-box;
}

@import "grid";
@import "forms";
@import "tables";

html, body {
    -webkit-font-smoothing: antialiased;
	font-size: 12px;
	line-height: 1.5;
	font-family: $font-body;
	// overflow-x: hidden;
	color: $black;
	background: $white;
	
	@include mq($tablet){
		font-size: 14px;
	}
	// @include mq($desktop){
	// 	font-size: 16px;
	// }
}


h1, h2, h3, h4, h5, h6 {
	font-family: $font-heading;
	line-height: 1;
}

img {
	max-width: 100%;
	height: auto;
}
@import "typography";
@import "header";
@import "footer";
@import "global-patterns";
@import "buttons";

@import "tinymce";
@import "blog";
@import "pages";
@import "comments";
@import "home";
@import "checkout";
@import "reserve-online";
@import "truck-trailer";
@import "supplies";

@import "utilities";